.profileContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.profileContent{
  align-items: center;
}

.profile {
  background-color: var(--gray-100);
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  overflow: hidden;
}

.profilePic {
  object-fit: cover;
  width: 90%;
}

.titleHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.h1Hero {
  color: var(--yellow-500);
  font: 700 2rem/1.2 var(--ff);
  text-align: center;
}

.paragraphHero {
  color: var(--gray-600);
  font: 400 .8rem/1.4 var(--ff);
  text-align: center;
}

.buttonContainer {
  display: flex;
  gap: 2rem;

  & button {
    border: transparent;
    padding: .7rem 1rem;
    border-radius: 8px;
  }
}

.pricing {
  color: var(--yellow-500);
  transition: background-color .1s, color .1s;
  &:hover{
    background-color: var(--yellow-500);
    color: var(--white);
  }
}

.schedule {
  background-color: var(--yellow-500);
  color: var(--white);
  transition: background-color .1s, color .1s;
  &:hover{
    background-color: var(--yellow-700);
    color: var(--white);
  }
}

@media (width >= 80em) {

  .titleHero {
    gap: 3rem;
  }
  .profile {
    width: 30rem;
    height: 30rem;
  }

  .h1Hero {
    color: var(--yellow-500);
    font: 700 4rem/1.2 var(--ff);
    text-align: center;
    width: 40rem;
  
  }


}