.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.tHead {

  & tr {

    & th {
      color: var(--yellow-700);
      text-align: start;
      font: 700 1rem/1.5 var(--ff);
    }
  }
}

.tBody {
  & tr {
    height: 2.5rem;
    font-size: .825rem;
  }
  & tr:nth-child(even) {
    background-color: var(--gray-100);
    /* Cor para linhas pares */
  }

  & tr:nth-child(odd) {
    background-color: #ffffff;
    /* Cor para linhas ímpares */
  }

}
th:nth-child(1),
td:nth-child(1) {
  width: 50%;
  padding-left: 1rem;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

th:nth-child(2),
td:nth-child(2) {
  width: 25%;
  text-align: start;
}

th:nth-child(3),
td:nth-child(3) {
  width: 25%;
  text-align: center;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
} 

@media (width >= 80em) {
  .tHead {

    & tr {
  
      & th {
        font: 700 2rem/1.5 var(--ff);
      }
    }
  }

  .tBody {
    & tr {
      font-size: 1rem;
    }
  }
}