* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* Deixa a fonte mais suave*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --white: #ffffff;

  --yellow-500: #f2b705;
  --yellow-200: #f2b705;
  --yellow-700: #D9910D;

  --gray-100: #e6e6e1;
  --gray-300: #ccccc4;
  --gray-400: #98998d;
  --gray-600: #383832;
  --gray-700: #2d2e29;
  --gray-800: #242420;
  --gray-900: #141412;

  --red-danger: #BF0404;
  --blue-500: #027368;
  --pink-500: #BF045B;

  --px-lg: 1.5rem;

  --ff: "Merriweather", sans-serif;
}

a{
  text-decoration: none;
  
}

body {
  font-size: 80%;
  background-color: var(--white);
  overflow-x: hidden;
  font: inherit;
}

img {
  max-width: 100%;
  display: inline;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--yellow-500);
}

body,
input,
textarea,
button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
}

.even-columns {

  /* Coloca margin em cima e alinha o conteúdo ao centro */
  display: grid;
  align-items: flex-start;
}

.desktop-only {
  display: none;
}



@media (width >= 80em) {
  .body {
    font-size: 100%;
  }

  .container {
    --max-width: 80em;
  }

  .desktop-only {
    display: initial;
  }

  .even-columns{
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
